body{
    color: #fff;
    overflow-x: hidden;
}

.carousel-item{
   height: 32rem;
   background: #111;
   color: #fff;
}

.overlay-image{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: .5;
}

.item1{
    background-image: url(assets/1.jpg);
}

.item2{
    background-image: url(assets/2.jpg);
}

.item3{
    background-image: url(assets/3.jpg);
}

.item4{
    background-image: url(assets/5.jpg);
}

.titulo, .titulo-horarios, .titulo-ubicacion, .titulo-contacto{
    font-family: 'Roboto Slab', serif;
}

.table-responsive{
    overflow-x: auto;
}

@media screen and (max-width: 800px){
    .carousel-item{
        height: 18rem;
    }
}